{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    {% block content %}
    <br>
    <br>
    <div class="text-center" >
    <!-- <div class="container" > -->
        <h1> ProjectX----Management</h1>
        <hr>
        <br>
        <h5>Keep Track of your Record Effectiveely</h5>
        <hr>
    <a class="btn-btn-primary" type="button" href="{% url 'register' %}"> Create Your Account &nbsp; <i class="fa-solid fa-user-plus"></i></a>
    </div>
    
    {% endblock %}
</body>
</html>